@charset "UTF-8";
/*

   _____ _       _              _____  _____ _____
  / ___/| (•)   | |           / ____// ____/ ____/  v 4.1
 | (___ | |_  __| | ___ ____ | |    | (___| (___
  \___ \| | |/ _` |/ _ / __/ | |     \___ \ ___ \
  ____) | | | (_| |  __\__ \ | |____ ____) |___) |
 /_____/|_|_|\__,_|\___/___/  \_____/_____/_____/


This file contains styles required for the proper functionality and display
of your Slides Project.


*/
/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, hr, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small  {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: 600;
}

html {
  position: static !important;
  top: 0 !important;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video{
    width: auto;
    height: 100%
  }
}
